[Desktop Entry]
Name=OrbitPDF
Comment=A PDF viewer for Pop!_OS COSMIC DE
Type=Application
Icon=com.github.alfasst.OrbitPDF
Exec=orbit-pdf %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
